<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/partials :: head}"></head>
<body>
<header th:replace="~{partials/partials :: header}"></header>
<main class="container">
    <h1>Your Post</h1>
    <section class="row gap-3">
        <article class="card col-12 p-0">
            <div class="card-header">
                <h3 th:text="${post.title}" ></h3>
            </div>
            <div class="card-body">
                <p th:text="${post.body}"></p>
            </div>
        </article>
    </section>
</main>
</body>
</html>