<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/partials :: head}"></head>

<body class="bg-dark">
<header th:replace="~{partials/partials :: header}"></header>

<main class="container mt-5">
    <h1>Add your Nefarious Lair!</h1>
    <section class="row gap-3">
        <form th:action="@{/ads/create/lair}" th:method="post">
            <h2 class="text-light">Your Lair's Name</h2>
            <div class="form-floating mb-3">
                <input th:field="${item.name}" type="text" class="form-control" id="floatingName" placeholder="Lair's Name" name="name">
                <label for="floatingName">Lair's Name</label>
            </div>
            <div class="mb-3">
                <h3 class="text-light">Size</h3>
                <div th:each="size : ${lairSizes}" th:remove="tag">
                    <label class="radio-button">
                        <input type="radio" name="minion_size" th:field="${lair.lairSize}" th:value="${size.id}" th:text="${size.name}">
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="text-light">Type</h3>
                <div th:each="type : ${lairTypes}" th:remove="tag">
                    <label class="radio-button">
                        <input type="radio" name="minion_type" th:field="${lair.lairType}" th:value="${type.id}" th:text="${type.name}">
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="text-light">Security Level</h3>
                <div th:each="security : ${lairSecurities}" th:remove="tag">
                    <label class="radio-button">
                        <input type="radio" name="minion_security" th:field="${lair.lairSecurity}" th:value="${security.id}" th:text="${security.name}" class="text-light">
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <h3 class="text-light">Amenities</h3>
                <div th:each="amenity : ${lairAmenities}" th:remove="tag">
                    <label class="radio-button">
                        <input type="checkbox" name="lair_amenity" th:value="${amenity.id}" th:text="${amenity.name}" class="text-light">
                    </label>
                </div>
            </div>

            <input type="hidden" name="newItemImage" value="frozen_fortress.webp">




            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>