<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/partials :: head}"></head>
<body class="bg-dark">
<header th:replace="~{partials/partials :: header}"></header>
<main class="container mt-5">
    <h1 th:text="${ad.title}" class="text-danger">Ad Title</h1>
    <section class="p-0 mt-4">
        <article class="row gx-5 gy-3">
            <div class="col-6">
                <img th:src="@{/img/{imageName}(imageName=${item.image})}" class="img-fluid mx-auto">
                <div class="mt-3">
                    <h2 th:text="${item.name}"  class="text-danger"></h2>
                    <p th:text="${ad.description}" class="text-light lh-lg"></p>
                    <p th:text="'Cost: $' + ${ad.price}" class="text-light"></p>
                </div>
            </div>

            <div th:if="${lair}" class="col-6">
                <h3 class="text-danger">Lair Traits: </h3>
                <p th:text="'Type: ' + ${lair.lairType.getName()}" class="text-light"></p>
                <p th:text="'Size: ' + ${lair.lairSize.getName()}" class="text-light"></p>
                <p th:text="'Security: ' + ${lair.lairSecurity.getName()}" class="text-light"></p>

                <h3 class="text-danger">Lair Areas: </h3>
                <div class="row d-flex justify-content-start g-2 mb-4">
                    <th:block th:each="amenity:${lair.getLairAmenities()}">
                        <div th:if="${amenity.lairAmenityType.id == 1}" class="col-auto ">
                            <!--<h6 th:text="${amenity.getLairAmenityType().getName()}"  class="text-light"></h6>-->
                            <span th:text="${amenity.name}" class="badge rounded-pill text-bg-danger"></span>
                        </div>
                        <div th:if="${amenity.lairAmenityType.id == 2}" th:remove="tag"></div>
                        <div th:if="${amenity.lairAmenityType.id == 3}" th:remove="tag"></div>
                    </th:block>
                </div>


                <h3 class="text-danger">Lair Defenses: </h3>
                <div class="row d-flex justify-content-start g-2 mb-4">
                    <th:block th:each="amenity:${lair.getLairAmenities()}">
                        <div th:if="${amenity.lairAmenityType.id == 2}"  class="col-auto">
                            <span th:text="${amenity.name}" class="badge rounded-pill text-bg-danger"></span>
                        </div>
                        <div th:if="${amenity.lairAmenityType.id == 1}" th:remove="tag"></div>
                        <div th:if="${amenity.lairAmenityType.id == 3}" th:remove="tag"></div>
                    </th:block>
                </div>

                <h3 class="text-danger">Lair Guardians: </h3>
                <div class="row d-flex justify-content-start g-2 mb-4">
                    <th:block th:each="amenity:${lair.getLairAmenities()}">
                        <div th:if="${amenity.lairAmenityType.id == 3}" class="col-auto">
                            <span th:text="${amenity.name}" class="badge rounded-pill text-bg-danger"></span>
                        </div>
                        <div th:if="${amenity.lairAmenityType.id == 1}" th:remove="tag"></div>
                        <div th:if="${amenity.lairAmenityType.id == 2}" th:remove="tag"></div>
                    </th:block>
                </div>

            </div>
            <div th:if="${minion}" class="col-6">
                <h3 class="text-danger">Minion Traits: </h3>
                <p th:text="'Race: ' + ${minion.minionType.getName()}" class="text-light lh-sm"></p>
                <p th:text="'Class: ' + ${minion.minionClass.getName()}" class="text-light lh-sm"></p>
                <p th:text="'Size: ' + ${minion.minionSize.getName()}" class="text-light lh-sm"></p>
                <p th:text="'Level: ' + ${minion.minionLevel.getName()}" class="text-light lh-sm"></p>

                <h3 class="text-danger">Minion Skills: </h3>
                <div class="row d-flex justify-content-start g-2 mb-4">
                    <th:block th:each="skill:${minion.getMinionSkills()}">
                        <div class="col-auto">
                            <span th:text="${skill.getName()}" class="badge rounded-pill text-bg-danger"></span>
                        </div>
                    </th:block>
                </div>
            </div>
        </article>
    </section>
</main>
</body>
</html>